.header {
    background: #1abc9c;
}

.text {
    margin-top: 3% !important;
}
.wrapper{
    margin-top: 8%;
    margin-left: 5%;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: .5s;
    width: 80%;

}
.wrapper .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.wrapper .circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e32934;
    clip-path: circle(30% at center);
    transition: 0.5s;
}
.wrapper:hover .circle::before{
    clip-path: circle(80% at center);
    background-color: #015da8;
}
.wrapper img{
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 60%;
    pointer-events: none;
    transition: .5s;
}
.wrapper:hover img{
    left: 80%;
    height: 50%;
}
.wrapper .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: .5;
    opacity: 0;
    visibility: hidden;
}
.wrapper:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.wrapper .content h2{
    color:  white;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    position: relative;
    top: -.2em;
}
.wrapper .content p{
    color: white;
    padding: 1em 0;

}
.wrapper .content button {
    border: none;
    border-radius: 20%;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
.map{
    display: none;
    margin-top: 8%;
    margin-left: 10%;
    position: relative;
    transition: .5s;
    width: 80%;
}
.map-google {
    height: 400px;
    width: 100%;
}

#document-text {
    margin-right: 20px;
}
 #document {
     vertical-align:middle;
 }

 #document:hover {
     box-shadow: 0 0 3px 2px rgba(179, 208, 208, 0.65);
 }