.text {
    padding: 2% 2%;
    letter-spacing: 3px;
}
.section {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #1abc9c;
}
.header {
    background-color: #1abc9c;
}

.text-link {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none;
}

.text-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.text-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}